{% extends 'core/base.html' %}

{% block title %}
  Contacto
{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
  <h1>Contacto</h1>
  <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Puedes contactarte conmigo por cualquiera de estos medios:</h2>
      <br />
      <p>
        <b>Teléfono:</b> +54 3401 490703
      </p>
      <p>
        <b>Email:</b><a href="mailto:agustinmassa8@gmail.com">agustinmassa8@gmail.com</a>
      </p>
      <p>
        <b>LinkedIn:</b><a href="https://linkedin.com/in/agustin-massa-/">linkedin.com/in/agustin-massa-/</a>
      </p>
      <p>
        <b>Gihub:</b><a href="https://github.com/agustinmassa">github.com/agustinmassa</a>
      </p>
    </div>
  </div>
{% endblock %}
